body {
    font-family: Arial;
    background-color: #17bfbf;
    padding: 20px;
}

h1 {
    color: blue;
    font-size: 38px;
    text-align: center;
}

.bio {
    background-color: #bf17bf;
    color: black;
    border-radius: 25px 10px 40px 1px ;
    padding: 15px;
    margin: 20px ;
}

.bio2 {
    background-color: yellow;
    color: black;
    border-radius: 25px 5px;
    padding: 15px;
    margin: 20px ;
}